<div class="form-v2">
    <div class="page-content">
        <div class="form-v2-content">
            <div class="form-left">
                <img src="/assets/form-v2.jpg" alt="form">
            </div>
            <form class="form-detail" action="#" method="post" id="myform">
                <h2>Registration Form</h2>
                <div class="form-row">
                    <label for="full-name">Full Name:</label>
                    <input type="text" [(ngModel)]="RegisterationData.name" name="full-name" id="full_name"
                        class="input-text">
                </div>
                <div class="form-row">
                    <label for="email">Your Email:</label>
                    <input type="email" [(ngModel)]="RegisterationData.email" name="email" id="your_email"
                        class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                </div>
                <div class="form-row">
                    <label for="password">Password:</label>
                    <input type="password" [(ngModel)]="RegisterationData.password" name="password" id="password"
                        class="input-text" required>
                </div>
                <div class="form-row">
                    <label for="comfirm-password">Confirm Password:</label>
                    <input type="password" [(ngModel)]="RegisterationData.confirmPassword" name="confirm_password"
                        id="confirm_password" class="input-text" required>
                </div>
                <div class="form-row">
                    <label for="about">About:</label>
                    <textarea name="about" cols="32" [(ngModel)]="RegisterationData.about" rows="3"></textarea>
                    <span class="checkmark"></span>
                </div>
                <p style="color: red;" *ngIf="errMessage">{{errMessage}}</p>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Register" (click)="onRegister()">
                </div>
                <div style="display: flex;">
                    <p>Already have an account?</p>
                    <a [routerLink]="'/login'">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>