<div class="main">
  <div class="container portfolio mx-auto">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <img src="https://image.ibb.co/cbCMvA/logo.png" />
          <a (click)="logout()" style="cursor: pointer; padding-right: 10px; padding-top: 6px;"><i
              class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
      </div>
    </div>
    <div class="bio-info">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="bio-image">
                <!-- <img src="https://image.ibb.co/f5Kehq/bio-image.jpg" alt="image" /> -->
                <img [src]="'/assets/' + UserData.image" alt="image" *ngIf="UserData.image">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <a class="edit-btn" [routerLink]="'/edit'" style="float: right;"><i
              class="fa-regular fa-pen-to-square"></i></a>
          <div class="bio-content">
            <h1>Hi there, I'm {{UserData.fullName}}</h1>
            <h6>{{UserData.about}}</h6>
            <br>
            <b>connect me :{{UserData.email}}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <img [src]="'/assets/' + UserData.image" alt="realm" *ngIf="UserData.image"> -->