<div class="form-v2">
    <div class="page-content">
        <div class="form-v2-content">
            <div class="form-left">
                <img src="/assets/form-v2.jpg" alt="form">
            </div>
            <form class="form-detail" action="#" method="post" id="myform">
                <h2>Admin Login</h2>
                <div class="form-row">
                    <label for="email">Your Email:</label>
                    <input type="email" [(ngModel)]="userData.email" name="email" id="your_email" class="input-text"
                        required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                </div>
                <div class="form-row">
                    <label for="password">Password:</label>
                    <input type="password" [(ngModel)]="userData.password" name="password" id="password"
                        class="input-text" required>
                </div>
                <p *ngIf="errMessage" style="color: red;">{{errMessage}}</p>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Submit" (click)="onLogin()">
                </div>
            </form>
        </div>
    </div>
</div>